.message {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.message_container {
  margin: 1em 0;
}
