.homeHeader {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.ConsultationList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}
